* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

#root
{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container
{
  background-color: #a181ff;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin: auto;
  width: 100%;
  height: 100%;
}

.flex 
{
  display: flex;
}

section,
nav {
  height: 100%;
}

nav{
  width: 25%;
  min-width: 280px;
  background-color: white;
  flex-direction: column;
}

#form {
  width: 75%;
}


#nav-header
{
  flex-direction: row;
  border: 1px solid black;
}

#profile-infos > h2{
  color: black;
}

#nav-header > div 
{
  flex-direction: column;
}

#profile-photo
{
  max-width: 40%;
  padding: 1em;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#profile-photo > img
{
  max-height: 5em;
  width: 5em;
  border-radius: 100%;
  object-fit: cover;
}

#profile-infos
{
  max-width: 60%;
  padding: 1em;
  justify-content: center;
  align-items: flex-start;
  flex: 3;
}

#title-container
{
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  border: 1px solid white;
  padding: 0.25em 1.2em;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main
{
  border: 1px solid black;
  margin: auto;
  height: 90%;
  width: 80%;
}

h1,
h2 
{
  color: white;
  text-align: center;
}
